
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <div>
        <h2>Unauthorized</h2>
        <h3>This application is limited to sworn staff. Please contact the helpdesk.</h3>
    </div>
</body>
</html>
