<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add connectionString="Data Source=myServer; Initial Catalog=myDB; Integrated Security=True;  MultipleActiveResultSets=True;" name="RIPASTOPContext" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.Lookups.csdl|res://*/Models.Lookups.ssdl|res://*/Models.Lookups.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=myServer;initial catalog=myDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="reverseGeoURI" value="https://myReverseGeocodingService" />
    <add key="reverseBeatURI" value="https://myReverseBeatGeocodingService" />
    <add key="agency" value="XY" />
    <add key="ori" value="CA0XX0000" />
    <add key="test" value="false" />
    <add key="forceCacheUpdate" value="false" />
    <add key="allowedBackDateHours" value="24" />
    <add key="expireCacheDays" value="7" />
    <add key="domain" value="myDomain" />
    <add key="requireGroupMembership" value="true" />
    <add key="authorized" value="User AD Group" />
    <add key="authorizedAdmin" value="Admin AD Group" />
    <add key="useBeats" value="0" />
    <!-- 0 = Don't use beats, 1 = Show beats, 2 = Make beats mandatory-->
    <add key="useAdditionalQuestions" value="0" />
    <!-- 0 = Don't use, 1 = Use-->
    <add key="useContractCity" value="0" />
    <!-- 0 = Don't use, 1 = Use-->
    <add key="useContractEvent" value="0" />
    <!-- 0 = Don't use, 1 = Use-->
    <add key="county" value="Your County" />
    <add key="DOJWebApiUrl" value="https://dojSubmissionURL" />
    <add key="DOJUrlConnectTest" value="https://dojTestSubmissionURL" />
    <!-- RIPALogs Directory setup for logging DOJ Submissions
    If you have 2 servers, the following steps should be done on both.
      •	Create RIPALogs directory under C: or D: drive.
        o	Right click on the directory and get to Properties.
        o	Under Security tab, click on Edit and add your service account and give it full access to this directory.
      •	In IIS "Add Virtual Directory" under your RIPA website.
        o	Alias: RIPALogs
        o	Physical path: D:\RIPALogs or C:\RIPALogs
      •	In Web.config:
        If you have more than one server, for load balancing, indicate the appSettings as follows.
        This will make sure the log file is available on both servers
      <appSettings>
          <add key="Server1" value="Server1" />
          <add key="Server2" value="Server2" />
      </appSettings>
      
      Note: you can also create a shared folder on a server that both your servers have access to.
-->
    <add key="LogFilePath1" value="C:\RIPALogs\" />
    <add key="Server1" value="" />
    <add key="Server2" value="" />
    <add key="InitStrtSubDate" value="Start date of RIPA Collection YYYY-MM-DD" />
    <add key="strConn" value="Data Source=myDB; Initial Catalog=JSON_SIA_TEST; Integrated Security=True;  MultipleActiveResultSets=True;" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <authentication mode="Windows" />
    <!-- Uncomment if using IIS 7 Classic Mode, IIS 6, or Mono -->
    <!--
    <httpHandlers>
      <add verb="GET" path="*.jsx" type="React.Web.BabelHandlerFactory, React.Web" />
    </httpHandlers>
    -->
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="Babel" />
      <add name="Babel" verb="GET" path="*.jsx" type="React.Web.BabelHandlerFactory, React.Web" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--<security>
      <authentication>
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>-->

    <!--<httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>